body { 

background-color: cornflowerblue;  
}


h1 {

    display: inline;

    vertical-align: middle;

    color: cadetblue;

}



p {
  font-family: verdana;
}


h3 { display;flex;
    align-content: center;
    border: 2px solid;
    border-radius: 15px;
    box-shadow: 5px 5px 5px;
    background-image: linear-gradient(#ffffff)

    display: block;

}



img {
    width: 80vw;

    vertical-align: middle;

}



body {

    background-color:#4692d4;

}



img {
    width: 80vw;

    vertical-align: middle;

}





img {
    width: 80vw;

    vertical-align: middle;

}



img {
    width: 80vw;

    vertical-align: middle;

}







a {

    padding: 0px 10px 0px 0px
}
header {
    display;flex; 
/*    flex-direction:column*/
    
    @media screen and (max-width; 40rem) {
        {
            flex-direction: column
        }
        }
    
    

