body { 

background-color: cornflowerblue;  
}


h1 {

    display: inline;

    vertical-align: middle;

    color: cadetblue;

}



p {
  font-family: verdana;
}


h3 {

    display: block;

}



img {
    width: 80vw;

    vertical-align: middle;

}



body {

    background-color:#4692d4;

}



img {
    width: 80vw;

    vertical-align: middle;

}





img {
    width: 80vw;

    vertical-align: middle;

}



img {
    width: 80vw;

    vertical-align: middle;

}







a {

    padding: 0px 10px 0px 0px
}
